<%- include('../partials/header')%>

    <body>
        <div class="container">
            <h1>Updating Data</h1>
            <form action="" method="post">
                <div class="inline-form">
                    <label for="title" class="col-sm-2 col-form-label">Title</label>
                    <div class="contain-input"><input type="text" id="title" name="title"
                            placeholder="insert your title" value="<%= data[0].title%>" required>
                    </div>
                </div>
                <div class="inline-form">
                    <label for="deadline" class="col-sm-2 col-form-label">Deadline</label>
                    <div class="contain-input"><input type="datetime-local" id="deadline" name="deadline"
                        value="<%= moment(data[0].deadline).format('YYYY-MM-DDTHH:mm')%>" required>
                    </div>
                </div>
                <div class="inline-form">
                    <label for="complete" class="col-sm-2 col-form-label">Complete</label>
                    <div class="contain-input">
                        <input class="form-check-input" type="checkbox" id="complete" name="complete"
                            <%= data[0].complete ? "checked" : "" %>> Done
                    </div>
                </div>

                <div class="footer-form">
                    <button type="submit"><i class="fa-solid fa-floppy-disk"></i></button>
                    <a href="/users"><i class="fa-solid fa-rotate-left"></i></a>
                </div>
            </form>
        </div>
    </body>
    <%- include('../partials/footer')%>