<%- include('../partials/header')%>

    <body>
        <div class="container">
            <div class="profil">
                <a href="users/upload" id="upload"><img
                        src="<%= profil.avatar ? `/images/${profil.avatar}` : `../images/default_avatar.jpg`%>"
                        width="70"></a>
                <h1>
                    <%= profil.email%>
                </h1>
                <a href="/logout" id="logout"><i class="fa-solid fa-right-from-bracket"
                        style="color: #ffffff;">&nbsp;</i>Sign
                    out</a>
            </div>
            <h1>PostgreSQL Breads(Browse,Read,Edit,Add,Delete,Sort)</h1>

            <form action="" method="get">
                <div class="inside">
                    <input type="hidden" name="page" value="1">
                    <input type="hidden" name="sortBy" value="id">
                    <input type="hidden" name="sortMode" value="asc">
                    <div class="inline">
                        <label for="title" class="col-sm-2 col-form-label">Title</label>
                        <div class="contain-input"><input type="text" id="title" name="title"
                                placeholder="insert your title" value="<%= query.title%>">
                        </div>
                    </div>
                    <div class="rowbirth"><label for="deadline">Deadline</label>
                        <div class="birthdate">
                            <input type="date" id="strDate" name="strDate" value="<%= query.strDate%>">
                            <p>s.d</p>
                            <input type="date" id="endDate" name="endDate" value="<%= query.endDate%>">
                        </div>
                    </div>
                    <div class="rowcomplete"><label for="complete">Complete</label>

                        <%if(query.complete == "true"){ %>
                            <select name="complete" id="complete">
                                <option value="" disabled>-select complete-</option>
                                <option value="false" >Not Yet</option>
                                <option value="true" selected>Done</option>
                            </select>
                            <%} else if(query.complete=="false"){%>
                                <select name="complete" id="complete">
                                    <option value="" disabled>-select complete-</option>
                                    <option value="false" selected>Not Yet</option>
                                    <option value="true" >Done</option>
                                </select>
                                <%} else {%>
                                    <select name="complete" id="complete">
                                        <option value="" disabled selected>-select complete-</option>
                                        <option value="false">Not Yet</option>
                                        <option value="true">Done</option>
                                    </select>
                                    <%}%>

                    </div>
                    <div class="rowradio">
                        <legend>Operation</legend>
                        <% if(query.Operator=='OR' ) { %>
                            <div class="radio">
                                <div class="option">
                                    <input type="radio" id="OR" name="Operator" value="OR" checked />OR
                                </div>
                                <div class="option">
                                    <input type="radio" id="AND" name="Operator" value="AND" />AND
                                </div>
                            </div>
                            <% } else if(query.Operator=="AND" ) { %>
                                <div class="radio">
                                    <div class="option">
                                        <input type="radio" id="OR" name="Operator" value="OR" />OR
                                    </div>
                                    <div class="option">
                                        <input type="radio" id="AND" name="Operator" checked value="AND" />AND
                                    </div>
                                </div>
                                <% } else { %>
                                    <div class="radio">
                                        <div class="option">
                                            <input type="radio" id="OR" name="Operator" value="OR" checked required />OR
                                        </div>
                                        <div class="option">
                                            <input type="radio" id="AND" name="Operator" value="AND" />AND
                                        </div>
                                    </div>
                                    <% } %>
                    </div>
                    <div class="findcluster">
                        <button type="submit" class="search"><i class="fa-solid fa-magnifying-glass"></i></button>
                        <a href="/users" class="reset"><i class="fa-solid fa-rotate"></i></a>
                    </div>
                </div>
            </form>
            <div class="table">

                <table>
                    <thead>
                        <tr>
                            <th>No.</th>
                                <th><a href="/users<%= url.replace(`sortBy=${sortBy}`, `sortBy=title`).replace(`sortMode=${sortMode}`,`sortMode=${sortMode == 'asc' ? 'desc' : 'asc'}`)%>"
                                    style="color: black;"><i
                                        class="fa-solid fa-<%= sortBy == 'title' ? sortMode == 'asc' ? 'sort-up' : 'sort-down' : 'sort'%>"></i></a>&nbsp;Title
                            </th>
                            <th><a href="/users<%= url.replace(`sortBy=${sortBy}`, `sortBy=complete`).replace(`sortMode=${sortMode}`,`sortMode=${sortMode == 'asc' ? 'desc' : 'asc'}`)%>"
                                    style="color: black;"><i
                                        class="fa-solid fa-<%= sortBy == 'complete' ? sortMode == 'asc' ? 'sort-up' : 'sort-down' : 'sort'%>"></i></a>&nbsp;Complete
                                    </th>
                            <th><a href="/users<%= url.replace(`sortBy=${sortBy}`, `sortBy=deadline`).replace(`sortMode=${sortMode}`,`sortMode=${sortMode == 'asc' ? 'desc' : 'asc'}`)%>"
                                    style="color: black;"><i
                                        class="fa-solid fa-<%= sortBy == 'deadline' ? sortMode == 'asc' ? 'sort-up' : 'sort-down' : 'sort'%>"></i></a>&nbsp;Deadline
                                    </th>
                            <th>Action</th>
                        </tr>

                    </thead>
                    <tbody>
                        <%data.forEach((item,index)=>{ %>
                            <%if(new Date(`${item.deadline}`)< new Date()&& !item.complete){ %>
                            <tr>
                                <td style="background-color: #F75352; color: white;">
                                    <%= index +1 + offset%>
                                </td>
                                <td style="background-color: #F75352; color: white;">
                                    <%= item.title %>
                                </td>
                                <td style="background-color: #F75352; color: white;">
                                    <%= item.complete ? "Done" : "Not Yet" %>
                                </td>
                                <td style="background-color: #F75352; color: white;">
                                    <%= moment(item.deadline).format(" DD MMM YYYY HH:mm")%>
                                </td>
                                <td style="background-color: #F75352; color: white;">
                                    <a href="/users/edit/<%= item.id%> " class="update"><i
                                            class="fa-solid fa-pencil"></i></a>&nbsp <a
                                        href="/users/delete/<%= item.id%>" class="delete"
                                        onclick="return confirmation('<%= item.title%>')"><i
                                            class="fa-solid fa-trash"></i></a>

                                </td>

                            </tr>
                            <%} else {%>
                                <tr>
                                    <td >
                                        <%= index +1 + offset%>
                                    </td>
                                    <td >
                                        <%= item.title %>
                                    </td>
                                    <td >
                                        <%= item.complete ? "Done" : "Not Yet" %>
                                    </td>
                                    <td >
                                        <%= moment(item.deadline).format(" DD MMM YYYY HH:mm")%>
                                    </td>
                                    <td >
                                        <a href="/users/edit/<%= item.id%> " class="update"><i
                                                class="fa-solid fa-pencil"></i></a>&nbsp <a
                                            href="#" class="delete"
                                            onclick="opendialog(`<%= item.id%>` , `<%= item.title%>`)"><i
                                                class="fa-solid fa-trash"></i></a>
    
                                    </td>
    
                                </tr>


                            <% }}) %>
                </table>

            </div>
            <div class="footer">
                <a href="/users/add" class="footer-add  "><i class="fa-solid fa-plus"></i></a>
                <div class="pagination">
                    <% if(url.includes('page=')) { %>
                        <a href="/users<%= page == 1 ? url.replace(`page=${page}`, `page=1`) : url.replace(`page=${page}`, `page=${page - 1}`) %>">&laquo;</a>
                    <% } else { %>
                        <a href="/users/?page=1<%= url.slice(2) %>">&laquo;</a>
                    <% } %>
                    <% for(let i = 1; i <= pages; i++) { %>
                        <a href="/users<%= url.includes('page=') ? url.replace(`page=${page}`, `page=${i}`): `/?page=${i}${'&' + url.slice(2)}` %>" class="<%= i == page? 'active' : '' %>"><%= i %></a>
                    <% } %> 
                    <% if(url.includes('page=')) { %>
                        <a href="/users<%= page == pages ? url.replace(`page=${page}`, `page=${pages}`) : url.replace(`page=${page}`, `page=${page * 1 + 1}`) %>">&raquo;</a>
                    <% } else { %>
                        <a href="/users/?page=2<%= url.slice(2) %>">&raquo;</a>
                    <% } %>
                </div>
                   
            </div>
            <div id="deleteConfirm" class="modal-delete" >
                <!-- Modal content -->
                <div class="delete-content">
                    <div class="delete-header">
                        <h4>Delete Confirmation</h4>
                   <span class="close" onclick="closeDialog()">&times;</span></div>
                   <p id="dialog"></p>
                   <div class="delete-footer">
                    <button class="no" onclick="closeDialog()">No</button>
                   <a href="#" id="confirmed">Yes</a>
                </div>
                </div>
            </div>
        </div>
        


        <%- include('../partials/footer')%>